/* Style général pour le corps et le texte */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 0; /* Supprime la marge par défaut du corps */
    background-color: #2b3675; /* Ajoute un fond bleu */
}

/* Style pour l'en-tête */
header {
    background-color: #899119; /* Couleur de fond de l'en-tête */
    color: rgb(20, 10, 10); /* Couleur du texte de l'en-tête */
    padding: 20px; /* Espace intérieur autour du texte */
}

/* Style pour le titre principal */
h1 {
    font-size: 40px; /* Taille du texte */
}

/* Style pour la barre de navigation */
nav {
    background-color: #333333;
    padding: 15px;
}

/* Style pour les liens de navigation */
nav a {
    text-decoration: none; /* Supprime les soulignements de lien */
    color: white; /* Couleur du texte du lien */
    margin: 0 10px; /* Espacement des liens */
    font-weight: bold; /* Texte en gras */
}

/* Style pour les sections */
section {
    margin: 20px;
    padding: 20px;
    background-color: #fff; /* Fond blanc pour les sections */
    border: 1px solid #ddd; /* Bordure grise autour des sections */
    border-radius: 5px; /* Coins arrondis pour les sections */
}

/* Style pour les titres de section */
h2 {
    color: #e21111;
}

/* Style pour le contenu des sections */
p {
    color: #0a0909;
}

/* Style pour les listes non ordonnées */
ul {
    list-style: none;
    padding: 0;
}

/* Style pour les éléments de liste */
li {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}

/* Style pour le champ de texte */
input[type="text"] {
    padding: 5px;
}

/* Style pour les boutons */
button {
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
